<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abhinav Thukral &middot; Lab</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<section>
	<div class="content">
		<h6>Abhinav Thukral / Lab</h6>
		<h1 class="page"><a href="/../../"><i class="fas fa-arrow-left back-button"></i></a> {{name}}</h1>
		<div class="split">
			<div class="tile">
				<div class="name">Date</div>
				<div class="value">{{date}}</div>
			</div>
			<div class="tile">
				<div class="name">Tags</div>
				<div class="value">{{tags}}</div>
			</div>
			<div class="tile">
				<div class="name">Client</div>
				<div class="value">{{client}}</div>
			</div>
			<div class="tile">
				<div class="name">Status</div>
				<div class="value">{{status}}</div>
			</div>
		</div>
		<h5>Description</h5>
		<p>{{description}}</p>
		<h5>Page</h5>
		<p>{{page}}</p>
		<h5>Comments</h5>
		<p>{{comments}}</p>
	</div>
</section>
</body>
</html>